@mixin fancyUnderline($underlineColor:#F00, $backgroundColor:#FFF, $hoverColor:$underlineColor, $textColor:#000, $offset:95%, $thickness: 1px) {
	color: $textColor;
	text-shadow: .03em 0 $backgroundColor,-.03em 0 $backgroundColor,0 .03em $backgroundColor,0 -.03em $backgroundColor,.06em 0 $backgroundColor,-.06em 0 $backgroundColor,.09em 0 $backgroundColor,-.09em 0 $backgroundColor,.12em 0 $backgroundColor,-.12em 0 $backgroundColor,.15em 0 $backgroundColor,-.15em 0 $backgroundColor;
	background-size: 1px $thickness;
	background-image: linear-gradient($underlineColor, $underlineColor);
	background-repeat: repeat-x;
	background-position: 0 $offset;
	&:hover {
		color: $hoverColor;
		background: 0 0;
		text-decoration: none;
		text-shadow: .03em 0 $backgroundColor,-.03em 0 $backgroundColor,0 .03em $backgroundColor,0 -.03em $backgroundColor,.06em 0 $backgroundColor,-.06em 0 $backgroundColor,.09em 0 $backgroundColor,-.09em 0 $backgroundColor,.12em 0 $backgroundColor,-.12em 0 $backgroundColor,.15em 0 $backgroundColor,-.15em 0 $backgroundColor;
		background-size: 1px $thickness;
		background-image: linear-gradient($hoverColor, $hoverColor);
		background-repeat: repeat-x;
		background-position: 0 $offset;
	}
}