@charset "utf-8";
@import "configuration";
@import "typography";
@import "fancyUnderline";
html {
	background: $background-color;
}
::-moz-selection {
	background: $highlight-background;
	color: $highlight-color;
	text-shadow: none;
}
::selection {
	background: $highlight-background;
	color: $highlight-color;
	text-shadow: none;
}
body {
	margin: 0;
}
a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
strong,
b {
	font-weight: $bold-font-weight;
}
.text-center {
	text-align: center;
}
aside {
	display: none;
}
article,
header,
footer {
	width: 100%;
	margin: 5px 0;
}
article,
#colophon {
	margin: {
		left: 10px;
		right: 10px;
	}
}
body > header {
	margin: {
		bottom: $base-spacing * 4;
		top: $base-spacing;
	}
	h1 {
		color: $logo-color;
		line-height: 1;
		font-weight: 900;
		text-align: center;
	}
	.blog {
		color: $logo-accent-color;
	}
	a {
		color: $logo-color;
		&:hover {
			text-decoration: none;
		}
	}
}
article img {
	max-width: 100%;
	margin: 0 auto;
	border: 0;
	display: block;
}
article a {
	@include fancyUnderline($action-color, $background-color, darken($action-color, 15%), $action-color);
}
img.modalized {
	margin: auto;
	display: inline;
}
.modal-trigger {
	text-align: center;
	padding: 0;
}
article h1 a {
	@include fancyUnderline($action-color, $background-color, $action-color, $title-color, 83%, 2px);
}
h1.archive {
	font: {
		family: $sans-serif;
		weight: $base-font-weight;
		size: 1.8rem;
		style: normal;
	}
	margin-bottom: $base-spacing;
	span {
		font-weight: $bold-font-weight;
	}
}
article > h1:first-child,
hgroup h1 {
	color: $title-color;
}
hgroup h2 {
	font: {
		family: $subtitle-font-family;
		size: 1.5rem;
		weight: $subtitle-font-weight;
	}
	color: $subtitle-font-color;
	line-height: 1.75rem;
	margin-top: -0.5rem;
	margin-bottom: 1.1rem;
	margin-left: 1.5rem;
	@include breakpoint($big) {
		font-size: 1.7rem;
	}
}
article.small {
	margin-bottom: 1.5rem;
	p.date.search {
		margin-top: 0rem;
	}
	h1 {
		font-size: 1.8rem;
	}
}
a.footnote {
	background: transparent;
	&:hover {
		background: transparent;
	}
}
a.more {
	text-transform: uppercase;
	font-weight: $bold-font-weight;
}
.page-number {
	font-size: 1.15rem;
}
article pre {
	overflow: auto;
}
.twitter-tweet {
	margin: 10px auto;
}
body > footer {
	border-top: 1px dashed $footer-border-color;
	background: $footer-background;
	color: $footer-color;
	font-size: 0.9rem;
	padding: {
		bottom: $base-spacing * 4;
		top: $base-spacing;
	};
	margin: 0;
	p,
	li,
	blockquote {
		color: $footer-color;
		font-size: 0.9rem;
	}
	p,
	ul,
	ol,
	dl,
	blockquote {
		margin-bottom: 0.9 * 1.5rem;
	}
	a {
		@include fancyUnderline($footer-link, $footer-background, $footer-link-hover, $footer-link);
	}
	h2 {
		font-style: normal;
		font-size: 1.3 * 0.9rem;
	}
}
@import "pagination";
.inline-footnote sup {
	font: {
		weight: $bold-font-weight;
	}
}
@include breakpoint($footnotes) {
	article,
	#colophon {
		width: $column-width;
		margin-left: auto;
		margin-right: 0;
	}
	article img {
		max-width: $column-width;
	}
}
@include breakpoint($big) {
	article,
	#colophon {
		width: $column-width;
		margin: auto;
	}
	blockquote {
		margin-left: 40px;
	}
	article.small {
		width: $column-width * .9;
	}
	p.date .month-day {
		display: block;
		line-height: 1;
		margin-bottom: -9px;
	}
	p.date .year {
		font-size: 1.5em;
		line-height: 1;
	}
	p.date.search {
		float: left;
		width: $column-width / 10;
		margin-top: 0.5rem;
		margin-left: -1 * ($column-width / 10);
	}
	p.date + h1 {
		@include clearfix;
	}
}