<article class="mb5" itemscope itemtype="http://schema.org/CreativeWork">

  <h1 class="mv0 f2 serif fw9" itemprop="headline">
    {% if post.link %}
      <a href="{{ post.link }}">{{ post.title | markdownify | replace: "<p>", "" | replace: "</p>", "" }}</a> <a href="{{ post.url | absolute_url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
    {% else %}
      <a href="{{ post.url | absolute_url }}" rel="permalink">{{ post.title | markdownify | replace: "<p>", "" | replace: "</p>", "" }}</a>
    {% endif %}
  </h1>

	{% if page.date %}
		<p class="ml2 mid-gray">{{ post.excerpt | strip_html }}</p>
		<p class="i ml2 mid-gray"><a href="{{ post.url | absolute_url }}">Read More</a></p>
	{% endif %}

  {% if post.date %}
    <time class="db mt2 mb0 f6 ttu tracked mid-gray" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }} </time>
  {% endif %}
</article>
