---
---
@import "colors";
// @import "skins";


$white: #fff;
$black: #111;
$custom-gray: lighten(#e0e0e0, 5%);

$background-color: $white;
$foreground-color: $black;
$theme-color: $teal;
$theme-secondary-color: darken($teal, 15%);

@mixin fancyLinks($bg, $fg) {
  text-shadow: 0.03em 0 $bg, -0.03em 0 $bg, 0 0.03em $bg, 0 -0.03em $bg, 0.06em 0 $bg, -0.06em 0 $bg, 0.09em 0 $bg, -0.09em 0 $bg, 0.12em 0 $bg, -0.12em 0 $bg, 0.15em 0 $bg, -0.15em 0 $bg;
  background-image: linear-gradient($bg,$bg),linear-gradient($bg,$bg),linear-gradient($fg,$fg);
  background-size: .05em 1px,.05em 1px,1px 1px;
  background-repeat: no-repeat,no-repeat,repeat-x;
  background-position-y: 87%,87%,87%;

}
// Reset
html {
  font-size: 20/16 * 100%;
}

// New Tachyons
.bg-teal {
  background-color: $teal;
}
.b--teal {
  border-color: $teal;
}
.bg-custom-gray {
  background-color: $custom-gray;
}
.bg-white {
  background-color: $white;
}
.black {
  color: $black;
}
// Overrides
.sans-serif {
  font-family: "Alegreya Sans", sans-serif;
}
.serif {
  font-family: "Alegreya", serif;
}
// Re-definitions:
.f6 {
    font-size: .875rem;
}
.link {
  text-decoration: none;
  transition: color .15s ease-in;
}
.link:link,
.link:visited {
  transition: color .15s ease-in;
}
.link:hover   {
  transition: color .15s ease-in;
}
.link:active  {
  transition: color .15s ease-in;
}
.link:focus   {
  transition: color .15s ease-in;
}

// Compositions:
a {
  @extend .link;
}
.highlighter-rouge {
  @extend .f6;
}
// New Elements:
blockquote {
  color: transparentize($foreground-color, 0.1);
  border-left: .25rem solid transparentize($theme-color, 0.75);
  margin-left: 1rem;
  margin-right: 0;
  padding-left: 1rem;
}
a {
  color: $foreground-color;
}
a:hover {
  color: $theme-color;
}
a,
a:hover {
  @include fancyLinks($background-color, $theme-color);
}
.paginator a,
.paginator a:hover {
  text-shadow: none;
  background-image: none;
}
.word:last-child {
  color: $theme-secondary-color;
}
$hanging-indent: 2rem;
.references p {
  padding-left: $hanging-indent;
  text-indent: -1 * $hanging-indent;
}

footer
,.footer {
  min-height: 8rem;
}
footer a,
footer a:hover,
.footer a,
.footer a:hover,
{
  @include fancyLinks($custom-gray, $theme-color);
}
