---
container-classes: measure center
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  {% include seo.html %}
	{% include css.html %}
</head>
<body class="sans-serif bg-white black mt4 {{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">
	{% include header.html %}
	<main class="{{ page.container-classes | default: layout.container-classes }}">
		{{ content }}
	</main>
	{% include footer.html %}
</body>
</html>
