-# This can hook back into the main site:
- articles_to_show = 3
- articles=[]
- if blog.articles.length < articles_to_show
	- articles = blog.articles
- else
	- articles = blog.articles[0,articles_to_show]
- articles.each do |article|
	-next if build? and !article.published?
	- nokogiri = Nokogiri::HTML(article.body)
	- next if nokogiri.at('body').nil?
	.box.col1.blog{ "data-url" => article.url }
		%h2 Recent <br> Blog Post
		%h1= article.title
		%p= nokogiri.css("img.splash").first
		%p= nokogiri.at('body').inner_text.scan(/[\w'’,.()]+/)[0..50].join(" ") + " …"