---
pageable: true
per_page: 25
---

- content_for :headlines do
	- page_articles.each_with_index do |article, i|
		= partial "partials/search_result", locals:{article:article, small: true}
= yield_content :headlines

= partial "partials/pagination", locals:{next_page:next_page, prev_page:prev_page, page_number:page_number}


