---
pageable: true
per_page: 12
---
%h1.archive 
	Articles tagged 
	%span= "'#{tagname}'"

-page_articles.each_with_index do |article, i|
	= partial "partials/search_result", locals:{article:article}

= partial "partials/pagination", locals:{next_page:next_page, prev_page:prev_page, page_number:page_number}